<div class="text-2xl text-blue-800"> Sign In Form</div>

<div class="bg-slate-400 p-4">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
        <div class="grid grid-cols-4 gap-4 mb-4">
            <label for="email">Email</label>
            <input type="text" ngModel name="email"/>
        </div>
        <div class="grid grid-cols-4 gap-4 mb-4">
            <label for="">Password</label>
            <input type="text" ngModel name="Password"/>
        </div>
        <div class="bg-slate-100">
            <input type="submit" value="Sign in" class="bg-blue-500 text-white py-2 px-4 rounded-md  hover:bg-blue-600">
        </div>
    </form>

</div>